<ion-header>
  <ion-navbar>
    <ion-title>{{ expense.description || 'New expense' }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onTrash()" *ngIf="expense.id">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onSave()" [disabled]="!f.valid">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #f="ngForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>Date</ion-label>
        <ion-datetime [(ngModel)]="expense.date"
          name="date" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked>Amount</ion-label>
        <ion-input type="number" [(ngModel)]="expense.amount"
          name="amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Category</ion-label>
        <ion-select [(ngModel)]="expense.category"
          name="category" required>
          <ion-option *ngFor="let category of categories">{{ category }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-input type="text" [(ngModel)]="expense.description"
          name="description" required></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
